.container {
  position: relative;
  top: 50px;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.nav-list {
  float: left;
  margin-right: 15px;
}
.nav-content:after {
  content: "";
  clear: both;
  display: block;
}
.input-box {
  margin: 20px 0;
}
.get-text {
  min-height: 150px;
}
.check-box {
  padding-top: 20px;
}
.check-box:after {
  content: "";
  clear: both;
  display: block;
}
.check-box label {
  float: left;
  margin-right: 3rem !important;
}
.check-box input {
  vertical-align: middle !important;
  margin-right: 10px;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIjExL2Nzcy9pbmRleC5sZXNzIiwiMTEvY3NzL2luZGV4LmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNJLG1CQUFBO0VBQ0EsVUFBQTtDQ0NIO0FERUc7RUFDSSxZQUFBO0VBQ0EsWUFBQTtFQUNBLGVBQUE7Q0NBUDtBREdEO0VBQ0ksWUFBQTtFQUNBLG1CQUFBO0NDREg7QURHRDtFQUNJLFlBQUE7RUFDQSxZQUFBO0VBQ0EsZUFBQTtDQ0RIO0FER0Q7RUFDSSxlQUFBO0NDREg7QURHRDtFQUNJLGtCQUFBO0NDREg7QURHRDtFQUVJLGtCQUFBO0NDRkg7QURyQkc7RUFDSSxZQUFBO0VBQ0EsWUFBQTtFQUNBLGVBQUE7Q0N1QlA7QURMRDtFQUlRLFlBQUE7RUFDQSw4QkFBQTtDQ0lQO0FEVEQ7RUFRUSxrQ0FBQTtFQUNBLG1CQUFBO0NDSVAiLCJmaWxlIjoiMTEvY3NzL2luZGV4LmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi5jb250YWluZXJ7XHJcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XHJcbiAgICB0b3A6NTBweDtcclxufVxyXG4uY2xlYXJmaXh7XHJcbiAgICAmOmFmdGVye1xyXG4gICAgICAgIGNvbnRlbnQ6XCJcIjtcclxuICAgICAgICBjbGVhcjogYm90aDtcclxuICAgICAgICBkaXNwbGF5OiBibG9jaztcclxuICAgIH1cclxufVxyXG4ubmF2LWxpc3R7XHJcbiAgICBmbG9hdDogbGVmdDtcclxuICAgIG1hcmdpbi1yaWdodDogMTVweDtcclxufVxyXG4ubmF2LWNvbnRlbnQ6YWZ0ZXJ7XHJcbiAgICBjb250ZW50OiBcIlwiO1xyXG4gICAgY2xlYXI6IGJvdGg7XHJcbiAgICBkaXNwbGF5OiBibG9jaztcclxufVxyXG4uaW5wdXQtYm94e1xyXG4gICAgbWFyZ2luOiAyMHB4IDA7XHJcbn1cclxuLmdldC10ZXh0e1xyXG4gICAgbWluLWhlaWdodDogMTUwcHg7XHJcbn1cclxuLmNoZWNrLWJveHtcclxuICAgIC5jbGVhcmZpeCgpO1xyXG4gICAgcGFkZGluZy10b3A6MjBweDtcclxuICAgIGxhYmVse1xyXG4gICAgICAgIGZsb2F0OiBsZWZ0O1xyXG4gICAgICAgIG1hcmdpbi1yaWdodDozcmVtICFpbXBvcnRhbnQ7XHJcbiAgICB9XHJcbiAgICBpbnB1dHtcclxuICAgICAgICB2ZXJ0aWNhbC1hbGlnbjogbWlkZGxlICFpbXBvcnRhbnQ7XHJcbiAgICAgICAgbWFyZ2luLXJpZ2h0OjEwcHg7XHJcbiAgICB9XHJcbn1cclxuIiwiLmNvbnRhaW5lciB7XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgdG9wOiA1MHB4O1xufVxuLmNsZWFyZml4OmFmdGVyIHtcbiAgY29udGVudDogXCJcIjtcbiAgY2xlYXI6IGJvdGg7XG4gIGRpc3BsYXk6IGJsb2NrO1xufVxuLm5hdi1saXN0IHtcbiAgZmxvYXQ6IGxlZnQ7XG4gIG1hcmdpbi1yaWdodDogMTVweDtcbn1cbi5uYXYtY29udGVudDphZnRlciB7XG4gIGNvbnRlbnQ6IFwiXCI7XG4gIGNsZWFyOiBib3RoO1xuICBkaXNwbGF5OiBibG9jaztcbn1cbi5pbnB1dC1ib3gge1xuICBtYXJnaW46IDIwcHggMDtcbn1cbi5nZXQtdGV4dCB7XG4gIG1pbi1oZWlnaHQ6IDE1MHB4O1xufVxuLmNoZWNrLWJveCB7XG4gIHBhZGRpbmctdG9wOiAyMHB4O1xufVxuLmNoZWNrLWJveDphZnRlciB7XG4gIGNvbnRlbnQ6IFwiXCI7XG4gIGNsZWFyOiBib3RoO1xuICBkaXNwbGF5OiBibG9jaztcbn1cbi5jaGVjay1ib3ggbGFiZWwge1xuICBmbG9hdDogbGVmdDtcbiAgbWFyZ2luLXJpZ2h0OiAzcmVtICFpbXBvcnRhbnQ7XG59XG4uY2hlY2stYm94IGlucHV0IHtcbiAgdmVydGljYWwtYWxpZ246IG1pZGRsZSAhaW1wb3J0YW50O1xuICBtYXJnaW4tcmlnaHQ6IDEwcHg7XG59XG4iXX0= */
