*{
    margin: 0px;
    padding: 0px;
}

.clearfix{
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}
.debug{
    border: 1px solid red;
}
.all{
    .headimg{
        .debug();
        // 我们一般不在容器上设置高度，里面那个a设置好高度就可以了.
        // height: 80px;
        background-color: #d0ebf8;
        .contentimg{
            width: 1190px;
            margin: 0 auto;
            a{
                .debug();
                margin: 0 auto;
                display: block;
                height: 80px; // 这个高度可以设置，因为要撑出背景图
                width: 100%;  // 这个100%是多余的，block元素会自动占满屏幕
                background: url(../img/linzhiling2.jpg);
                background-size: 100% 100%;
            }
        }
    }
    .navigation{
        height: 30px;
        background-color: #e3e4e5;
        .area{
            //.debug();
            float: left;
            color: #999;
            font-size: 11px;
        }
    }
    
    .button{
        height: 2000px;
    }
}