.warp {
    border: 1px solid rgb(185, 50, 226);  
    width: 100%; 
}
.main  {
    border: 1px solid rgb(228, 173, 173);
    width: 100%;
    min-height: 100px;
    float: left;
}
// 双飞翼布局完成得很好。
// 如果浮动布局掌握得比较好了，你可以自己尝试学一下flex布局
// 这样你在实践中也可以应用，布局起来很方便的。
.mainln {
    margin: 0 110px 0 110px;
}
.left {
    border: 1px solid rgb(83, 182, 228); 
    width: 100px;
    margin-left: -100%;
    min-height: 265px;
    float: left;
}
.right {
    border: 1px solid rgb(67, 214, 190);    
    width: 100px;
    margin-left: -105px;
    min-height: 265px;
    float: left;
}