.clearfix:after {
  content: '';
  clear: both;
  display: block;
}
.menu {
  width: 800px;
  margin: 100px auto;
  line-height: 40px;
  border: 1px solid #dededf;
  box-shadow: 0 1px 5px 0 #999999;
}
.menu ul:after {
  content: '';
  clear: both;
  display: block;
}
.menu .item {
  width: 25%;
  float: left;
  text-align: center;
}
.menu .item.active {
  background-color: #f2f2f2;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIjEzL2Nzcy9uYXZNZW51Lmxlc3MiLCIuLi88aW5wdXQgY3NzIDEwPiJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFDSTtFQUNJLFlBQUE7RUFDQSxZQUFBO0VBQ0EsZUFBQTtDQ0FQO0FER0Q7RUFDSSxhQUFBO0VBQ0EsbUJBQUE7RUFDQSxrQkFBQTtFQUNBLDBCQUFBO0VBQ0EsZ0NBQUE7Q0NESDtBRFZHO0VBQ0ksWUFBQTtFQUNBLFlBQUE7RUFDQSxlQUFBO0NDWVA7QURURDtFQVVRLFdBQUE7RUFDQSxZQUFBO0VBQ0EsbUJBQUE7Q0NFUDtBRERPO0VBQ0ksMEJBQUE7Q0NHWCIsImZpbGUiOiIxMy9jc3MvbmF2TWVudS5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIuY2xlYXJmaXh7XHJcbiAgICAmOmFmdGVye1xyXG4gICAgICAgIGNvbnRlbnQ6ICcnO1xyXG4gICAgICAgIGNsZWFyOiBib3RoO1xyXG4gICAgICAgIGRpc3BsYXk6IGJsb2NrO1xyXG4gICAgfVxyXG59XHJcbi5tZW51e1xyXG4gICAgd2lkdGg6ODAwcHg7XHJcbiAgICBtYXJnaW46IDEwMHB4IGF1dG87XHJcbiAgICBsaW5lLWhlaWdodDogNDBweDtcclxuICAgIGJvcmRlcjogMXB4IHNvbGlkICNkZWRlZGY7XHJcbiAgICBib3gtc2hhZG93OiAwIDFweCA1cHggMCByZ2IoMTUzLDE1MywxNTMsMC44KTtcclxuICAgIHVse1xyXG4gICAgICAgIC5jbGVhcmZpeCgpO1xyXG4gICAgfVxyXG4gICAgLml0ZW17XHJcbiAgICAgICAgd2lkdGg6MjUlO1xyXG4gICAgICAgIGZsb2F0OiBsZWZ0O1xyXG4gICAgICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxuICAgICAgICAmLmFjdGl2ZXtcclxuICAgICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogI2YyZjJmMjtcclxuICAgICAgICB9XHJcbiAgICB9XHJcbn0iLCIuY2xlYXJmaXg6YWZ0ZXIge1xuICBjb250ZW50OiAnJztcbiAgY2xlYXI6IGJvdGg7XG4gIGRpc3BsYXk6IGJsb2NrO1xufVxuLm1lbnUge1xuICB3aWR0aDogODAwcHg7XG4gIG1hcmdpbjogMTAwcHggYXV0bztcbiAgbGluZS1oZWlnaHQ6IDQwcHg7XG4gIGJvcmRlcjogMXB4IHNvbGlkICNkZWRlZGY7XG4gIGJveC1zaGFkb3c6IDAgMXB4IDVweCAwICM5OTk5OTk7XG59XG4ubWVudSB1bDphZnRlciB7XG4gIGNvbnRlbnQ6ICcnO1xuICBjbGVhcjogYm90aDtcbiAgZGlzcGxheTogYmxvY2s7XG59XG4ubWVudSAuaXRlbSB7XG4gIHdpZHRoOiAyNSU7XG4gIGZsb2F0OiBsZWZ0O1xuICB0ZXh0LWFsaWduOiBjZW50ZXI7XG59XG4ubWVudSAuaXRlbS5hY3RpdmUge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjZjJmMmYyO1xufVxuIl19 */
