.container {
  margin-top: 100px;
}
.segment.active {
  display: block;
}
.segment {
  display: none;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIjEzL2Nzcy90YWJDb21wb25lbnQubGVzcyIsIjEzL2Nzcy90YWJDb21wb25lbnQuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0ksa0JBQUE7Q0NDSDtBRENEO0VBQ0ksZUFBQTtDQ0NIO0FEQ0Q7RUFDSSxjQUFBO0NDQ0giLCJmaWxlIjoiMTMvY3NzL3RhYkNvbXBvbmVudC5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIuY29udGFpbmVye1xyXG4gICAgbWFyZ2luLXRvcDoxMDBweDtcclxufVxyXG4uc2VnbWVudC5hY3RpdmV7XHJcbiAgICBkaXNwbGF5OiBibG9jaztcclxufVxyXG4uc2VnbWVudHtcclxuICAgIGRpc3BsYXk6bm9uZTtcclxufSIsIi5jb250YWluZXIge1xuICBtYXJnaW4tdG9wOiAxMDBweDtcbn1cbi5zZWdtZW50LmFjdGl2ZSB7XG4gIGRpc3BsYXk6IGJsb2NrO1xufVxuLnNlZ21lbnQge1xuICBkaXNwbGF5OiBub25lO1xufVxuIl19 */
